@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #131722;
  color: #fff;
}
.mt-100 {
  margin-top: 100px;
}
.form-control {
  box-shadow: none !important;
  border: 2px solid black;
}
.form-control:focus {
  border: 2px solid black;
}
a {
  text-decoration: none;
}
.cursor-pointer {
  cursor: pointer;
}
.border-line {
  height: 1px;
  background-color: rgb(119, 118, 118) !important;
}
.layer {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 1.5s;
}
.card-layer:hover .layer {
  opacity: 0.7;
}
.img-details {
  height: 500px;
  object-fit: contain;
}
@media (max-width: 576px) {
  .card-layer {
    width: 75%;
    margin: 0 auto;
  }
}
.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .login {
    width: 90% !important;
  }
}



.pagination {
  --bs-pagination-bg: #1a2030 !important;
  --bs-pagination-color: #fff !important;
  --bs-pagination-active-bg: #0dcaf0 !important;
  --bs-pagination-active-border-color: #0dcaf0 !important;
  --bs-pagination-border-color: #0dcaf0 !important;
  --bs-pagination-hover-color: #fff !important;
  --bs-pagination-hover-bg: #0dcaf0 !important;
  --bs-pagination-hover-border-color: #0dcaf0 !important;
  gap: 0.75rem;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0;
}